<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <th:block layout:fragment="userCss">
  </th:block>
</head>

<body>
  <!-- Content -->
  <div layout:fragment="content">
    <h1>Test 페이지</h1>
    <div class="container">
<!--      <form>-->
        <div class="row">
          <div class="col-4">
            <span>아이디 : </span>
            <input type="text" id="id">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>비밀번호 : </span>
            <input type="password" id="password">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-secondary btn-sm" id="loginButton">로그인</button>
            <button class="btn btn-secondary btn-sm" id="registerButton">회원가입</button>
          </div>
        </div>
<!--      </form>-->
    </div>
  </div>

  <div layout:fragment="contentModal">
  </div>

  <!-- 스크립트 추가 -->
  <th:block layout:fragment="userScript">
    <script type="text/javascript" th:src="@{/js/test/test.js}" defer></script>
  </th:block>
</body>

</html>