<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<th:block layout:fragment="userCss">
</th:block>
</head>

<body>
	<!-- Content -->
	<div layout:fragment="content">
		<!-- <h1>Test 페이지</h1> -->
		<div class="container slider d-flex justify-content-center">
			<div class="col-md-9 col-lg-10">
				<h4 class="mb-3 d-flex justify-content-center">My Page</h4>

				<!--<form>-->
<!--				<form class="needs-validation" novalidate>-->
					<div class="row mt-5 mx-auto gy-2">
						<div class="col-sm-6">
							<div class="form-floating">
								<input type="text" class="form-control" id="id" th:value="${loginUser.id}" disabled>
								<label for="">아이디</label>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-floating">
								<input type="password" class="form-control" id="password" disabled>
								<label for="">비밀번호</label>
							</div>
						</div>


						<div class="row mt-3 mx-auto gy-2">
							<div class="col-sm-4">
								<div class="form-floating">
									<input type="text" class="form-control" id="name" th:value="${loginUser.name}">
									<label for="">이름</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-floating">
									<input type="text" class="form-control" id="email" th:value="${loginUser.email}">
									<label for="">이메일</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-floating">
									<input type="text" class="form-control" id="phone" th:value="${loginUser.phone}">
									<label for="">전화번호</label>
								</div>
							</div>
						</div>
<!--				</form>-->
					</div>
				<div class="row mt-3 mx-auto gy-2 justify-content-center">
					<div class="col-sm-auto">
						<button class="form-control" id="updateBtn" th:data-seq="${loginUser.seq}">수정</button>
					</div>
					<div class="col-sm-auto">
						<button class="form-control" id="cancelBtn">취소</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="contentModal"></div>

	<!-- 스크립트 추가 -->
	<th:block layout:fragment="userScript">
		<script type="text/javascript" th:src="@{/js/myPage/myPage.js}" defer></script>
	</th:block>
</body>

</html>