<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <th:block layout:fragment="userCss">
  </th:block>
</head>

<body>
    <!-- Content -->
    <div layout:fragment="content">
        <!-- <h1>회원가입 페이지</h1> -->
        <div class="container slider">
                <!--<form>-->
                <!-- <h1>로그인 페이지</h1> -->
<!--                <form class="needs-validation" novalidate="">-->
          <div class="row g-4">
            <div class="col-sm-12">
              <label for="username" class="form-label">이름</label>
              <input type="text" class="form-control" id="username" placeholder="" value="" required="">
            </div>

            <div class="col-sm-12">
              <label for="id" class="form-label">아이디</label>
              <input type="text" class="form-control" id="id" placeholder="아이디를 입력해주세요" value="" required="">
            </div>

            <div class="success-message text-primary hide">사용할 수 있는 아이디입니다.</div>
            <div class="failure-message text-danger hide">4~12글자의 아이디를 입력해주세요.</div>
            <div class="failure-message2 text-danger hide">영어 또는 숫자만 가능합니다.</div>

            <div class="col-sm-12">
              <label for="password" class="form-label">비밀번호</label>
              <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" value="" required="">
            </div>

            <div class="strongPassword-message hide">8글자 이상, 영문, 숫자, 특수문자를 사용해주세요.</div>

            <div class="col-sm-12">
              <label for="password-retype" class="form-label">비밀번호 확인</label>
              <input type="password" class="form-control" id="password-retype" placeholder="비밀번호를 다시 한번 입력해주세요" value="" required="">
            </div>

            <div class="mismatch-message hide">비밀번호가 일치하지 않습니다.</div>
            
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
            </div>

            <div class="col-12">
              <label for="phone" class="form-label">연락처</label>
              <input type="text" class="form-control" id="phone" placeholder="01012345678" required="">
            </div>

            <div class="col-6">
              <label for="age" class="form-label">나이</label>
                <input type="text" class="form-control" id="age" placeholder="30" required="">
            </div>

            <div class="col-6">
              <label for="birthday" class="form-label">생일</label>
              <input type="text" class="form-control" id="birthday" placeholder="1월 1일">
            </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">피부타입</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="credit">건성</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">복합성</label>
            </div>
            <div class="form-check">
              <input id="" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="">지성</label>
            </div>
            <div class="form-check">
              <input id="" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="">모름</label>
            </div>
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="button" id="registerBtn">저장</button>
<!--                  </form>-->
        </div>
      </div>
    </div>

    <div layout:fragment="contentModal"></div>

    <!-- 스크립트 추가 -->
    <th:block layout:fragment="userScript">
        <script type="text/javascript" th:src="@{/js/register/sign.js}" defer></script>
    </th:block>
</body>

</html>