<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>Title</title>
<th:block layout:fragment="userCss">
</th:block>
</head>



<body>
	<div layout:fragment="content">
		<div>
			<h1 align="center">리뷰 게시판 작성</h1>
			<td>
				<form id="boardRegistForm" action="/reviewBoard/regist" method="post" enctype="multipart/form-data">
					<table style="margin: auto;">
						<!-- 별점 옵션으로 하면 좋을듯? -->
						<tr>
							<td>점수</td>
							<td><select name="grade">
									<option value=1>1점</option>
									<option value=2>2점</option>
									<option value=3>3점</option>
									<option value=4>4점</option>
									<option value=5>5점</option>

							</select></td>
						</tr>

						<tr>
							<td>제목</td>
							<td colspan="3"><input type="text" name="title"
								style="width: 400px;"></td>
						</tr>
						<tr>

								<td for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></td>
								<td>
									<div class="custom-file" id="inputFile">
										<input name="boardFile" type="file" class="custom-file-input" id="customFile" />
										<label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
									</div>

							</td>
						</tr>
						<tr>
							<td>내용</td>
							<td colspan="3"><textarea name="content" cols="60" rows="15"
									style="resize: none;"></textarea></td>
						</tr>

					</table>
					<br>
					<div align="center">
						<button type="button" th:onclick="'location.href=\'/reviewBoard/list\''">
							돌아가기</button>
						<button type="reset" style="width: 150px">작성내용 되돌리기</button>
						<button type="submit">등록하기</button>
					</div>
				</form>
			</div>
		</div>

	</div>




	<div layout:fragment="contentModal"></div>

	<th:block layout:fragment="userScript">
	</th:block>
</body>

</html>